;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "0.10.0"]]

 :dev-http {8080 "public"}

 :builds
 {:app
  {:target :browser
   :asset-path "js"
   :output-dir "out/public/js"
   :build-hooks
   [(shadow.html/copy-file
     "public/index.html"
     "out/public/index.html")]
   :modules {:main {:init-fn grootlapse.app/init}}}
  :raspi
  {:target :node-script
   :main grootlapse.server/init
   :output-to "out/grootlapse-pi.js"
   :devtools {:before-load-async grootlapse.server/stop
              :after-load grootlapse.server/start}}}}
